.address-form {
    width: 100%;
    margin: 0 auto; /* This will center the form horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .address-form-group {
    margin-bottom: 20px;
    
  }
  
  .address-form label {
    display: block;
    font-weight: bold;
  }
  
  .address-form input[type='text'],
  .address-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .address-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .address-form button:hover {
    background-color: #0056b3;
  }
  
  .address-form .address-form-town-city,
  .address-form .address-form-state {
    display: inline-block;
    width: calc(50% - 5px);
    vertical-align: top;
  }
  
  .address-form .address-form-town-city label,
  .address-form .address-form-state label {
    display: block;
    margin-bottom: 5px;
  }
  
  .address-form .address-form-town-city input,
  .address-form .address-form-state select {
    width: 100%;
  }
  .address-form-group-towncity
  {
    display: flex;
    gap: 30px;
  }
  .address-form-group-pincode input {
    width: 100%;
    padding: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  /* AddressForm.css */

.address-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
  
}
.address-form-group-mobile input
{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}