
.heading-payment{
    display: flex;
    justify-content: center;
    
    /* background-color: #000AFF; */
    color: black;

}
.heading-payment 
{
    font-size: 25px;
}

.payment-options-price-details{
    margin:10px 20px;
    /* border: 1px solid black; */
    display: flex;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    
}
@media (max-width:768px){
    .payment-options-price-details{
        display: block;
    }
}



.payment-options{
    margin: 10px;
    width: 60%;
    height: 100%;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
}
@media (max-width:768px){
    .payment-options{
        /* margin: auto; */
        margin-left: 0px;
        width: 100%;
    }
}
.payment-options-heading{
    
    text-align: center;
    background-color: black;
    
    font-size: 10px;
    color: white;
    padding: 15px;
    border-radius: 15px;

}


/* by phonepe option */
.phonepay-option img{
    align-items: center;
    width: 60px;
    height: 50px;
}
.phonepay-option {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    /* align-content: center; */
}
.phonepay-option img, span{
    margin-left: 30px;
}
.phonepay-option button{
    /* display: flex; */
    margin-left: 250px;
    padding: 10px 30px;
    background-color:#fe570fd4;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    
}

/* by google pay  */
.googlepay-option{
    margin: 20px 0px;
    display: flex;
    align-items: center;
}
.googlepay-option img{
    
        align-items: center;
        width: 60px;
        height: 50px;
    
}
.googlepay-option img, span{
    margin-left: 30px;
}
.rbi-guidelines{
    color: rgba(0, 0, 0, 0.363);
    font-size: 13px;
    margin:10px 0px 10px 30px;
    
}


/* by credit-debit-atm  */
.credit-debit-atm{
    margin: 20px 0px;
    display: flex;
    align-items: center;
}
.credit-debit-atm img{
    
        align-items: center;
        width: 60px;
        height: 50px;
    
}
.credit-debit-atm img {
    margin-left: 30px;
}


/* by cash on delivery */
.cash-on{
    margin: 20px 0px;
    display: flex;
    align-items: center;
}
.cash-on img{
    
        align-items: center;
        width: 60px;
        height: 50px;
    
}
.cash-on img {
    margin-left: 30px;
}


/* price-category-details */
.prices-details-category{
    box-sizing: border-box;
    margin: 0px;
    width: 40%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(229, 226, 220);
    }
@media (max-width:768px){
    .prices-details-category{
        width: 100%;
    }
}
.price-details{
    display: flex;
    justify-content: center;
    /* background-color: #D9D9D9; */
    /* background-color: rgba(107,169,210,0.466); */
 
    font-size: 25px;
    color: black;
    
}

.prices-details-category-div{
    padding: 5%;

}
.all-payment-detail{
    background-color: white;
    padding-top: 10px;
}

.main-product-price, .amount-payable, .delivery-charges, .packaging-charges{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    padding-bottom: 20px;
    /* flex-wrap: wrap */
   
}



@media (max-width:768px){
    .main-product-price span,  .delivery-charges span, .packaging-charges h4{
        margin-left: 120px;
}
.amount-payable h4{
    margin-left: 60px;
}
}


.proceed-to-pay{
    background-color: blue  ;
    color:white;
    text-align: center;
    padding: 10px 0px;
    border-radius: 15px;
}